{% extends "_base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>{% blocktrans %}We have e-mailed you. If you have not received it please check your spam folder. Otherwise
            contact us through the {% endblocktrans %}<a href="{% url 'contact' %}">contact form</a>{% blocktrans %} if
            you do not receive it in a few minutes.{% endblocktrans %}</p>
    </div>
{% endblock %}
