[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.6"
psycopg2-binary = "==2.9.5"
crispy-bootstrap5 = "==0.7"
django-allauth = "==0.51.0"
django-ckeditor = "==6.5.1"
pip = "==22.1.2"
whitenoise = "==6.2.0"
pillow = "==9.3.0"
gunicorn = "==20.1.0"
dj-database-url = "==1.0.0"
boto3 = "==1.26.12"
django-storages = "==1.13.1"
djangorestframework = "==3.14.0"

[dev-packages]

[requires]
python_version = "3.10"
