[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.7"
psycopg2-binary = "==2.9.3"
crispy-bootstrap5 = "==0.6"
django-allauth = "==0.51.0"
django-ckeditor = "==6.4.2"
pip = "==22.1.2"
whitenoise = "==6.2.0"
pillow = "==9.1.1"
gunicorn = "==20.1.0"
dj-database-url = "==0.5.0"
boto3 = "==1.24.23"
django-storages = "==1.12.3"
djangorestframework = "==3.13.1"

[dev-packages]

[requires]
python_version = "3.10"
