{% extends '_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

<title>{% block title %}Contact | {{ block.super }}{% endblock %}</title>

{% block content %}
    <div class="container">
        <h1 style="text-align: center">Contact</h1>
            <form id="contactForm" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="contact-submit" class="btn btn-primary btn-lg" />
            </form>
    </div>
{% endblock %}
